{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "houston/css/paper.css" %}">
    <title>Title</title>
</head>
<body>

<div class="main">
    <nav>
        <a href="#top" class="logo"><img src="{% static "houston/img/png21.png" %}" alt="Ссылка"></a>
        <ul>
            <li><a href="#theproblem">the problem</a></li>
            <li><a href="#piedpipercoin">PiedPiperCoin</a></li>
            <li><a href="#theteam">the team</a></li>
        </ul>
    </nav>
</div>
<div class="container" id="top">
    <div class="centered">PiperNet Is Here</div>
    <img src="{% static "houston/img/png22.png" %}" alt="pipernet">
</div>
<div>
    <div class="header" id="theproblem">The Problem
    </div>
    <div class="article">
        <p>
            Beneath the flashy homepages of your favorite sites lurk Hooli™ and other evil corporations out to hoard
            and sell your most personal data.
        </p>
        <p>
            What was built to be the ultimate platform for the free sharing of knowledge has turned into a
            money-hungry
            monster feasting on our privacy and freedom.
        </p>
        <p>
            But fear not, for Pied Piper has the answer! And it’s simple:
            An autonomous peer-to-peer network featuring distributed storage powered by universal compression,
            accelerated
            scheduling allocation, and end-to-end encryption.
        </p>
        <p>
            Put even simpler — <b>it’s the internet, completely decentralized.</b>
        </p>
    </div>
</div>

<div class="blue">
    <div class="bluetext">
        We’re in this together! All of our computers and phones join in a network to make the strongest
        supercomputer
        the world has ever seen.
    </div>
    <img src="{% static "houston/img/png23.png" %}" alt="blueimg">
</div>

<div class="intro" id="piedpipercoin">
    <div class="header">
        Introducing PiedPiperCoin
    </div>
    <img src="{% static "houston/img/png24.png" %}" alt="image">
    <p>
        Pied Piper's new internet is built for users, by users.
        You supply the storage, compute, and networking resources that power our entire decentralized web.
    </p>
    <p>
        Now there's a way to give credit where credit is due. Compute credit, that is!
        The more you share your device resources, the more PiedPiperCoin you receive.
    </p>
    <p>
        Whether you're a developer with an app ready for market, or just an Average Joe with a smartphone you'll love
        all you can do with PiedPiperCoin.<br><br><br>
    </p>

</div>
<div class="team" id="theteam">
    <div class="header">
        The Team
    </div>
    <div class="block1">
        <div class="comand">
            <img src="{% static 'houston/img/png251.png' %}" alt="none">
            <p class="text1">Richard Hendricks</p>
            <p class="text2">Founder & CEO</p>
        </div>
        <div class="comand">
            <img src="{% static 'houston/img/png261.png' %}" alt="none">
            <p class="text1">Dinesh Chugtai</p>
            <p class="text2">Senior Programmer</p>
        </div>
        <div class="comand">
            <img src="{% static 'houston/img/png271.png' %}" alt="none">
            <p class="text1">Bertram Gilfoyle</p>
            <p class="text2">Chief Systems Architect</p>
        </div>
    </div>
    <div class="block1">
        <div class="comand">
            <img src="{% static 'houston/img/png28.png' %}" alt="none">
            <p class="text1">Jared Dunn</p>
            <p class="text2">Chief Operating Officer</p>
        </div>
        <div class="comand">
            <img src="{% static 'houston/img/png29.png' %}" alt="none">
            <p class="text1">Monica Hall</p>
            <p class="text2">Chief Financial Officer</p>
        </div>
        <div class="comand">
            <img src="{% static 'houston/img/png30.png' %}" alt="none">
            <p class="text1">Nelson Bighetti</p>
            <p class="text2">Majority Investor</p>
        </div>
    </div>
</div>
<div class="bottom">
    <p class="bottomtext">All other trademarks and copyrights are the property of their respective owners.
        Use of these names, trademarks and brands does not imply endorsement.
    </p>
</div>

</body>
</html>